<form action="/my_post_endpoint" method="post">
  <input type="hidden" name="my_hidden_input" value={@my_query_param}>
  <input type="hidden" name="_csrf_token" value={@csrf_token}>
  <input type="submit" value="Submit">
</form>
